.card {
  background: linear-gradient(90deg ,  rgb(223, 188, 14), rgb(168, 249, 75),rgb(141, 229, 242));
  backdrop-filter: blur(2px);
  margin-top: 10px;
  border:1px solid black;
}
#name {
  font-size: 18px;
  font-weight: bold;

}
#status {
  font-size: 18px;
  font-weight: bold;
  
}
#description {
  font-size: 18px;
  font-weight: bold;
  
}